body {
    font-family: "Josefin Sans", sans-serif;
}
.container {
    margin: auto;
}
.img-fluid {
    max-width: 100%;
}
nav {
    height: 70px;
    display: flex;
    justify-content: center;
}
nav img {
    max-width: 35%;
}
hgroup {
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 6px;
}
hgroup h1:first-child {
    color: #ce9797;
    font-weight: 300;
}
hgroup h1:last-child {
    color: #413a3a;
    font-weight: 600;
}
article {
    color: #ce9797;
    font-weight: 400;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
}
  
input[type=email] {
    color: #ce9797;
    border: 1px solid #ce9797;
    height: 30px;
    border-radius: 25px;
    padding: 5px 20px;
    position: absolute;
    float: left;
}
input[type=email]::placeholder {
    color: #ce9797;
}
  
button {
    position: relative;
    float: right;
    border: none;
    border-radius: 25px;
    height: 45px;
    width: 80px;
    background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
    background-repeat: no-repeat;
}
button:hover {
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: #ce9797 1px 3px 15px;
}
  
input.error-msg {
    background-image: url("/images/icon-error.svg");
    background-repeat: no-repeat;
    background-position: 83% 50%;
}
  
#msg {
    color: #f96262;
}
  
input:focus {
    border: 2px solid #f96262;
}
  
.attribution {
    font-size: 11px;
    text-align: center;
}
  
.attribution a {
    color: #3e52a3;
}
  